---
layout: default
---
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="images/University-Drive.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Library Workshops</h1>
            <p>Griffith University Library makes open source shareable lessons available to researchers. If you are enrolled at Griffith, you may also be able enrol in a counterpart workshop conducted live, in-person or online!</p>
            <a class="btn btn-primary" href="https://www.griffith.edu.au/research/research-services/researcher-education-development/workshop-calendar">Book an in-person workshop</a>
        </div>
    </div>
    <!-- Call to Action-->
    <!-- {% include calltoaction.html %} -->

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">

        <p><h2 class="font-weight-light">Digital skills</h2></p>

        {% include card.html title="<i class='bi bi-badge-4k-fill'></i> Digital Tools for Research" text="Become familiar with a wide range of digital tools available to assist you throughout your research journey." course="http://griffithunilibrary.github.io/digital-tools/" %}

        {% include card.html title="Digital dexterity" text="Self-assessment tool to learn more about your level of digital dexterity." course="https://griffithunilibrary.github.io/digital-dexterity/" %}

        <p><h2 class="font-weight-light">Managing research data</h2></p>

        {% include card.html title="Systematic reviews" text="Learn ways to effectively build a robust search strategy for your systematic-style review." course="https://griffithunilibrary.github.io/systematic-review-training/index.html#/" %}

        {% include card.html title="Research data management" text="Create a data management plan for your research, including materials classification, practising responsible research and good data storage habits." course="https://griffithunilibrary.github.io/research-data-management/" %}

        {% include card.html title="Intro to data wrangling" text="Get acquainted with OpenRefine, an open source tool to explore, clean, organise, combine and transform data." course="https://griffithunilibrary.github.io/intro-data-wrangle/" %}

        {% include card.html title="Advanced data wrangling" text="Go further with OpenRefine, including combining datasets, geolocating data, and &quot;what if&quot; exploration." course="https://griffithunilibrary.github.io/advanced-data-wrangle/" %}

        {% include card.html title="Intro to text mining" text="Understand the what, how and why of building, cleaning, analysing and visualising a text corpus from the web." course="https://griffithunilibrary.github.io/intro-text-mining-analysis/" %}

        {% include card.html title="Intro to LimeSurvey" text="Get started with this flexible and user-friendly research survey tool." course="https://griffithunilibrary.github.io/limesurvey/" %}

        {% include card.html title="Intro to REDCap" text="Get up and running with this data collection tool oriented at clinical and longitudinal research." course="https://griffithunilibrary.github.io/redcap/" %}

        <p><h2 class="font-weight-light">Visualisation</h2></p>

        {% include card.html title="Data visualisation basics" text="Learn fundamental concepts relating to presenting your research data in an attactive and understandable way." course="https://griffithunilibrary.github.io/data-vis-basics/" %}

        {% include card.html title="Data storytelling" text="Your research data needs to tell a story. Understand the steps involved in taking your research from raw data to a compelling narrative." course="https://griffithunilibrary.github.io/data-storytelling/" %}

        <p><h2 class="font-weight-light">Legal research</h2></p>

        {% include card.html title="Finding cases" text="An introductory course on legal research using LexisNexis and Westlaw case citators." course="https://griffithunilibrary.github.io/finding-cases/" %}

        {% include card.html title="Finding legislation" text="An introductory course on finding current, amended or repealed Queensland and Commonwealth statutes." course="https://griffithunilibrary.github.io/finding-legislation/" %}

        <p><h2 class="font-weight-light">Copyright</h2></p>

        {% include card.html title="Copyright and publishing" text="Considerations under Australian copyright law for academic researchers. Covers articles, theses, books, images, web data and more." course="https://griffithunilibrary.github.io/copyright-publishing/#/" %}

    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

